@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

main{
    height: 100vh;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

main .nav-home{
    display: flex;
    width: 100%;
    height: 60px;
}

main .nav-home .ul-links{
    padding: 1rem 2rem;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    gap: 2rem;
}

main .nav-home .ul-links .li-link{
    position: relative;
}

main .nav-home .ul-links .li-link a{
    display: flex;
    gap: 8px;
    color: #000;
}

main .nav-home .ul-links .li-link::before{
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    bottom: -10px;
    left: 0;
    border-radius: 1rem;
    background-color: #31a5e7;
    transition: width .4s ease;
}

main .nav-home .ul-links .li-link:hover::before{
    width: 100%;
}

main .nav-home .ul-links .li-link span{
    font-weight: 800;
}

