@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

main{
    height: 100vh;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.disable-scroll{
  overflow: hidden;
}

main .nav-home{
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #000;
}


main .nav-home .logo{
    padding: 5px 10px;
    font-size: 2rem;
    color: #31a5e7
}

main .nav-home .ul-links{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    gap: 2rem;
}

main .nav-home .ul-links .li-link{
    position: relative;
    padding: 0 10px;
    
}

main .nav-home .ul-links .li-link a{
    display: flex;
    gap: 8px;
    color: #fff;
    font-family: 'poppins';
    font-weight: lighter;
}
main .nav-home .ul-links .li-link i{
    color: #31a5e7
}

main .nav-home .ul-links .li-link::before{
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    bottom: -10px;
    left: 0;
    border-radius: 1rem;
    background-color: #31a5e7;
    transition: width .4s ease;
}



main .nav-home .ul-links .li-link:hover::before{
    width: 100%;
}

main .nav-home .ul-links .logout::before{
    background-color: #cf3a3a;
}

main .nav-home .logout{
    cursor: pointer;
    padding: 0 10px;
}
/* ======= SECTION PRODUCTS ========== */

.products-section{
  background-color: #000;
}

.products-section .product-container{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    position: relative;
  }
  
  .product {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 500px;
    border: 1px solid #ccc;
    padding: 1rem;
    text-align: center;
  }
  
  .product-info{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
  }
  .product img {    
    display: flex;
    width: 150px;
    object-fit: cover;
  }
  
  .product h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #fff;
  }
  
  .product p {
    margin-bottom: 0.5rem;
    color: #fff;
  }
  
  .product button {
    background-color: #31a5e7;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    margin-top: auto;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .product button:hover {
    background-color: #0062cc;
  }
  
  .products-section .ul-filters{
    padding: 10px 20px;
    display: flex;
    gap: 1rem;
  }

  .products-section .ul-filters .li-filter{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    border-radius: 1rem;
    background-color: #31a5e7;
    color: #fff;
    cursor: pointer;
  }

  .products-section .ul-filters .li-filter:hover{
    background-color: #1899e4;
  }

  .products-section .ul-filters .li-filter.filter-active{
    background-color: #135f8b;
  }

  .shop-car{
    background-color: #31a5e7;
    border-radius: 100%;
    display: flex;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center; 
    position: fixed;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    z-index: 10;
  }

  .modal-overlay{
    height: 100vh;
    width: 100vw;
    background-color: #000;
    position: fixed;
    left: 0;
    top: 0;
    filter: opacity(.425);
    z-index: -1;
  }

  .show-overlay{
    z-index: 1;
  }

  .shop-car i{
    font-size: 2rem;
    color: #fff;
  }

  .shop-car span{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 5px;
    bottom: 45px;
    border-radius: 100%;
    background-color: #fff;
    color: #0062cc;
    width: 25px;
    height: 25px;
    font-weight: bolder;
  }

  .shopping-modal{
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #31a5e7;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 500px;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    z-index: -1;
  }

  .show-shoppingModal{
    z-index: 10;
  }

  .shopping-modal header{
    display: flex;
    justify-content: end;
    padding-right: 15px;
    position: relative;
  }

  .shopping-modal header i{
    font-size: 1.6rem;
    color: #fff;
    cursor: pointer;
  }

  .shopping-modal i:hover{
    color: #ebe8e8;
  }

  .shopping-modal .shopping-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
  }

  .shopping-modal .shopping-list .product{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
    border: none;
  }
  
  .shopping-modal .shopping-list .product img {    
    display: flex;
    width: 150px;
    object-fit: cover;
  }
  
  .shopping-modal .shopping-list .product h3 {
    width: 200px;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: lighter;
  }
  
  .shopping-modal .shopping-list .product p {
    margin-bottom: 0.5rem;
    color: #fff;
  }

  .shopping-modal .shopping-total{
    display: flex;
    height: 80px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 1rem;
    padding: 0 20px;
  }
  .shopping-modal .shopping-total .total{
    display: flex;
    width: 200px;
    gap: 1rem;

  }

  .shopping-modal .shopping-total span:nth-child(1){
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .shopping-modal .shopping-total span:nth-child(2){
    color: #fff;
    font-size: 1.2rem;
  }

  .shopping-modal .send-order{
    padding: 10px 15px;
    border-radius: 1rem;
    background-color: #0062cc;
    color: #fff;
    cursor: pointer;
  }

  .shopping-modal .send-order:hover{
    background-color: #034489;
  }
  